fastapi
uvicorn[standard]
python-multipart
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
python-dotenv
Pillow
numpy
pandas
scikit-learn
matplotlib
seaborn
joblib
PyYAML
torch
torchvision
requests
pytest
httpx
ultralytics
